:root {
    --dark-b: #372414;
    --b: #674831;
    --light-b: #855A3C;
    --t: #D7BE82;
    --dark-t: #B7A087;
    --dark-w: #F7EBDF;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, #7F5338 0%, #BB996B 50%, #B59F87 100%);
}

.tabbar {
    padding: 20px 25px;
    color: white;
    background-color: var(--dark-b);
}

.main {
    display: flex;
    flex-direction: row;
}

.main-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
    border-right: 3px solid var(--light-b);
    overflow: hidden;
    gap: 30px;

}

.introducao {
    display: flex;
    flex-direction: row;
    border: 1.5px solid var(--b);
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
    background-color: white;

}

.introducao img {
    height: 240px;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px 0px;
}

.text-box p {
    width: 320px;
}

.lateral-conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.destaques {
    width: 100%;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    gap: 10px;
    padding: 15px 25px;
    color: white;
    background-color: var(--b);

}

.img-holder {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.img-holder img {
    height: 100px;
    width: 100px;
    border: 1.5px solid var(--t);
    border-radius: 5px;
    overflow: hidden;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    padding: 25px 20px 0px 20px;
    border-top: 2.5px solid #c3c3c3;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px 20px;
    border: 1.5px solid #c3c3c3;
    background-color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 18px;
    padding: 30px 20px;
    border: 1px solid black;
    background: var(--dark-w);
    border-radius: 5px;
    overflow: hidden;
}

.form-container h3 {
    color: var(--b);
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
    font-weight: bold;
}

.form-container form input {
    font-size: medium;
    padding: 5px;
    border: 1px solid var(--dark-t);
    border-radius: 3px;
    outline: none;
}

.form-container form button {
    width: 100%;
    margin: 0 auto;
    background-color: var(--t);
    border: 1px solid var(--dark-t);
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.form-container form button:hover {
    background-color: var(--dark-t);
    transition: .5s;
}